
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Denuncias GT</title>
</head>
<body>
    <div id="header">
        <h1>DENUNCIAS GT APP WEB</h1>
    </div>
    <div id="menu">
        <ul>
            <li><a href="~/Views/Home/Index.cshtml">Inicio</a></li>
            <li>@Html.ActionLink("About", "Index","Home")</li>
            <li>@Html.ActionLink("Registrarse", "Index", "ManejoUsuarios")</li>
            <li><a href="#">Iniciar Sesión</a></li>
        </ul>
    </div>
    <div id="contenido">

    </div>
    

</body>
</html>
